@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section css{ 
    <style>
        .null-marbottom{
            margin-bottom:0 !important;
        }
        .right{
            float:right;
        }
    </style>
}
<script src="~/Angular/Controllers/DishCtrl.js"></script>
<div class="container-fluid" ng-controller="DishesCtrl">
    <div class="block-header">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="breadcrumb breadcrumb-style ">
                    <li class="breadcrumb-item">
                        <h4 class="page-title">Dishes</h4>
                    </li>
                    <li class="breadcrumb-item bcrumb-1">
                        <a href="~/Home/Index">
                            <i class="fas fa-home"></i> Home
                        </a>
                    </li>
                    <li class="breadcrumb-item bcrumb-2">
                        <a href="#" onClick="return false;">Dishes</a>
                    </li>
                    <li class="breadcrumb-item active">Add</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        <strong>Add</strong> Dish
                    </h2>
                </div>
                <div class="body" ng-init="">
                    <h2 class="card-inside-title">Dish Details</h2>
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 null-marbottom">
                            <label>Dish Category <span class="text-danger">*</span></label>
                            <div class="form-group" ng-init="getDishCategories()">
                                <select class="form-control" ng-model="addDish.dishCategoryId" required>
                                    <option value="0" hidden>Select Category</option>
                                    <option ng-repeat="cat in dishCategories" value="{{cat.dishCategoryId}}">{{cat.categoryName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 null-marbottom">
                            <div class="form-group">
                                <label>Dish Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Enter Dish Name" ng-model="addDish.dishName" required>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 null-marbottom">
                            <div class="form-group">
                                <label>Sub Name</label>
                                <input type="text" class="form-control" placeholder="Enter Dish Sub Name" ng-model="addDish.subName">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 null-marbottom">
                            <div class="form-group">
                                <label>Base Price <span class="text-danger">*</span></label>
                                <input type="number" class="form-control" placeholder="$$" ng-model="addDish.basePrice" min="0"
                                       required>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 null-marbottom">
                            <div class="form-group">
                                <label>Allergies <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="enter the allergies" ng-model="addDish.allergies" min="0"
                                       required>
                            </div>
                        </div>
                        <div class="col-md-12 col-md-12">
                            <div class="form-group">
                                <label>Description</label>
                                <textarea placeholder="Enter Description of Dish" class="form-control" ng-model="addDish.description"></textarea>
                            </div>
                        </div>
                    </div>

                    <h2 class="card-inside-title">
                        Dish Toppings
                        <button style="float:right" type="button" class="btn btn-primary" ng-click="pushDishExtraType()">
                            <i class="fa fa-plus"></i>
                        </button>
                    </h2>
                    <br />
                    <div class="row clearfix" ng-repeat="extraType in addDishExtraTypes" ng-init="extraTypeIndex=$index">
                        <div class="col-lg-10 null-marbottom">
                            <div class="form-group null-marbottom">
                                <div class="form-line">
                                    <label>Topping Category Head <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" placeholder="Enter Topping Name" ng-model="extraType.typeName">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group null-marbottom right">
                                <div class="form-line">
                                    <label>Allow Multiple <span class="text-danger">*</span></label>
                                    <div class="switch">
                                        <label>
                                            <input type="checkbox" ng-model="extraType.chooseMultiple">
                                            <span class="lever switch-col-light-blue"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group null-marbottom right">
                                <div class="form-line">
                                    <label>Actions</label><br />
                                    <button class="btn btn-danger" ng-click="removeExtraType($index)"><i class="fas fa-trash-alt"></i></button>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-1"></div>
                        <div class="col-lg-10">
                            <span style="font-weight:bold">Dish Toppings</span>
                            <button ng-click="pushDishExtra($index)" type="button" class="btn bg-orange btn-circle waves-effect waves-circle waves-float right">
                                <i class="fa fa-plus"></i>
                            </button>
                            <div class="row clearfix" ng-if="extraType.dishExtras.length > 0" style="margin-top:30px">
                                <div class="col-lg-3"><label>Topping Name <span class="text-danger">*</span></label></div>
                                <div class="col-lg-3"><label>Topping Price <span class="text-danger">*</span></label></div>
                                <div class="col-lg-3"><label>Allergies</label></div>
                                <div class="col-lg-2"><label class="right">Actions</label></div>
                            </div>
                            <div class="row clearfix" ng-repeat="extra in extraType.dishExtras" ng-init="extraIndex=$index">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Topping" ng-model="extra.extraName"
                                               required>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <input type="number" class="form-control" placeholder="$$" ng-model="extra.extraPrice"
                                           required>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Allergies" ng-model="extra.allergies" />
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <button class="btn btn-danger right" ng-click="removeExtra(extraTypeIndex, extraIndex)"><i class="fas fa-trash-alt"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>

                    <button class="btn btn-info" style="float:right; margin-right:5px">Clear</button>
                    <button ng-click="saveDish()" class="btn btn-success" style="float:right;">Save</button>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{

    <script src="~/assets/js/form.min.js"></script>
    <script src="~/assets/js/pages/forms/form-wizard.js"></script>
}