@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<!-- Header -->
<header id="header-s">
    <div class="container">
        <div class="row container-hs pt-5">
            <div class="col-12 text-center text-white">
                <h1 class="banner-hs font-weight-bold mb-3">Order takeaway in</h1>
                <div class="input-group input-group-lg mx-auto">
                    <i class="fas fa-map-marker-alt fa-1x pin p-3 align-self-center"></i>
                    <input type="text"
                           class="form-control"
                           placeholder="Address, i.e. KirchstraBe 1" />
                    <div class="input-group-prepend">
                        <span class="btn btn-primary btn-show font-weight-bold">Show</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header ends -->
<!-- Small devices Nav -->
<section class="small-nav d-lg-none d-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 my-2">
                <h1 class="side-h">MY ACCOUNT</h1>
            </div>
            <div class="col-12">
                <ul class="acc">
                    <li>
                        <button class="acc_ctrl"><h2 style="letter-spacing: 0 !important;">navigation / Change password</h2></button>
                        <div class="small-panel">
                            <div class="acc_panel">
                                <a href="~/MyAccount/Orders" class="mb-1 mt-2 mr-4">Orders</a>
                                <a href="~/MyAccount/Addresses" class="mb-1 mr-4">Addresses</a>
                                <a href="~/MyAccount/PersonalData" class="mb-1 mr-4">Personal data</a>
                                <a href="~/MyAccount/ChangePassword" class="mr-2 mb-1 active-link1">Change password</a>
                                <a href="~/Auth/LogoutUser" class="mr-1">Logout</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="divider"></div>
        <form action="~/Auth/ChangePasswordUser" method="post" name="changePasswordForm" ng-controller="ChangePasswordCtrl">
            <h2>Change password</h2>
            <div class="row" style="width: 90%; margin-left: 1px;">
                <div class="col-md-6">
                    <div class="form-group">
                        <label style="font-size: 14px; color: rgb(102, 102, 102);">Current password</label>
                        <input ng-model="changePasswordDto.currentPassword" type="password" class="form-control" name="currentPassword" required>
                        <p class="text-danger mb-0 pb-1 mt-1" ng-show="changePasswordForm.currentPassword.$touched && changePasswordForm.currentPassword.$error.required">* Password is required.</p>
                    </div>
                </div>
            </div>
            <div class="row" style="width: 90%; margin-left: 1px;">
                <div class="col-md-6">
                    <div class="form-group">
                        <label style="font-size: 14px; color: rgb(102, 102, 102);">New password</label>
                        <input ng-model="changePasswordDto.newPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" type="password" class="form-control" name="newPassword" required>
                        <p class="text-danger mb-0 pb-1 mt-1" ng-show="changePasswordForm.newPassword.$touched && changePasswordForm.newPassword.$error.required">* Password is required.</p>
                        <p class="text-danger mb-0 pb-0 mt-1" ng-show="changePasswordForm.newPassword.$touched && changePasswordForm.newPassword.$invalid">* Password must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters.</p>
                        <div style="height: 4px; width: 100%; background: #d7d7d7; margin-top: 10px;"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label style="font-size: 14px; color: rgb(102, 102, 102);">Repeat password</label>
                        <input ng-model="changePasswordDto.confirmPassword" type="password" class="form-control" name="confirmPassword" required>
                        <p class="text-danger mb-0 pb-1 mt-1" ng-show="changePasswordForm.confirmPassword.$touched && changePasswordForm.confirmPassword.$error.required">* Confirmation is required.</p>
                        <p class="text-danger mb-0 pb-0 mt-1" ng-show="changePasswordForm.confirmPassword.$touched && changePasswordDto.newPassword !== changePasswordDto.confirmPassword">* Password and Confirm Password didn't match</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 ml-3 mt-2 mb-4">
                    <input ng-disabled="changePasswordForm.$invalid || changePasswordDto.newPassword !== changePasswordDto.confirmPassword" type="submit" class="btn btn-primary px-3" style="font-size: 14px;" onclick="submitform()" value="Change password" />
                </div>
            </div>
        </form>
    </div>
</section>
<!-- Small devices nav ends -->

<div class="password-container d-lg-block d-none">
    <!-- Sidenav -->
    <div class="pass-sidebar d-md-block d-none">
        <h1 class="side-h">MY ACCOUNT</h1>
        <a href="~/MyAccount/Orders" class="mb-1 mt-2 mr-4">Orders</a>
        <a href="~/MyAccount/Addresses" class="mb-2 mr-4">Addresses</a>
        <a href="~/MyAccount/PersonalData" class="mb-2 mr-4">Personal data</a>
        <a href="~/MyAccount/ChangePassword" class="mr-4 mb-2 active-link">Change password</a>
        <a href="~/Auth/LogoutUser" class="mr-4">Logout</a>
    </div>
    <!-- Sidenav ends -->
    <!-- Side section -->
    <div class="pass-main d-md-block d-none" ng-controller="ChangePasswordCtrl">
        <form action="~/Auth/ChangePasswordUser" method="post" name="changePasswordForm">
            <h2>Change password</h2>
            <div class="row" style="width: 90%; margin-left: 1px;">
                <div class="col-md-6">
                    <div class="form-group">
                        <label style="font-size: 14px; color: rgb(102, 102, 102);">Current password</label>
                        <input ng-model="changePasswordDto.currentPassword" type="password" class="form-control" name="currentPassword" required>
                        <p class="text-danger mb-0 pb-1 mt-1" ng-show="changePasswordForm.currentPassword.$touched && changePasswordForm.currentPassword.$error.required">* Password is required.</p>
                    </div>
                </div>
            </div>
            <div class="row" style="width: 90%; margin-left: 1px;">
                <div class="col-md-6">
                    <div class="form-group">
                        <label style="font-size: 14px; color: rgb(102, 102, 102);">New password</label>
                        <input ng-model="changePasswordDto.newPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" type="password" class="form-control" name="newPassword" required>
                        <p class="text-danger mb-0 pb-1 mt-1" ng-show="changePasswordForm.newPassword.$touched && changePasswordForm.newPassword.$error.required">* Password is required.</p>
                        <p class="text-danger mb-0 pb-0 mt-1" ng-show="changePasswordForm.newPassword.$touched && changePasswordForm.newPassword.$invalid">* Password must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters.</p>
                        <div style="height: 4px; width: 100%; background: #d7d7d7; margin-top: 10px;"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label style="font-size: 14px; color: rgb(102, 102, 102);">Repeat password</label>
                        <input ng-model="changePasswordDto.confirmPassword" type="password" class="form-control" name="confirmPassword" required>
                        <p class="text-danger mb-0 pb-1 mt-1" ng-show="changePasswordForm.confirmPassword.$touched && changePasswordForm.confirmPassword.$error.required">* Confirmation is required.</p>
                        <p class="text-danger mb-0 pb-0 mt-1" ng-show="changePasswordForm.confirmPassword.$touched && changePasswordDto.newPassword !== changePasswordDto.confirmPassword">* Password and Confirm Password didn't match</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 ml-3 mt-2 mb-4">
                    <input ng-disabled="changePasswordForm.$invalid || changePasswordDto.newPassword !== changePasswordDto.confirmPassword" type="submit" class="btn btn-primary px-3" style="font-size: 14px;" onclick="submitform()" value="Change password" />
                </div>
            </div>
        </form>
    </div>
    <!-- side section ends -->
</div>
<script>
    App.controller("ChangePasswordCtrl", function ($scope, $http) {
        
        $scope.changePasswordDto = { currentPassword: "", newPassword: "", confirmPassword: ""};
       
    });
</script>