@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
    <div class="container-fluid">
        <div class="body">
            <div class="card">
                <div class="header">
                    <strong> Alert</strong>
                </div>
                <div class="body">
                    <div class="alert alert-success">
                        <strong>Congratulations</strong> Your password is changed Successfully
                    </div>
                </div>
            </div>
        </div>
    </div>
        
