@model RiaPizza.DTOs.Auth.ChangePasswordDto
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .field-icon {
  float: right;
  margin-right: 8px;
  margin-top: -30px;
  position: relative;
  z-index: 2;
  cursor:pointer;
}
</style>
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item bcrumb-1">
                            <a href="~/Home/Index">
                                <i class="fas fa-home"></i> Home
                            </a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Change Password</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="body">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <h4 class="">Change Password</h4>
                            <form method="post" asp-action="ChangePassword" asp-controller="Auth">
                                <br />
                                <div class="row clearfix">
                                    <div class="col-md-6">
                                        <input id="password-field" asp-for="CurrentPassword" type="password" placeholder="Current Password" class="form-control" required>
                                        <span toggle="#password-field" class="fa fa-lg fa-eye field-icon toggle-password"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <input id="password-field2" asp-for="NewPassword" type="password" placeholder="New Password" class="form-control" required>
                                        <span toggle="#password-field2" class="fa fa-lg fa-eye field-icon toggle-password"></span>
                                    </div>
                                    <div class="col-sm-6">
                                        <button class="btn-hover color-8" type="submit" style="margin-left:-1px">Reset Password</button>
                                    </div>
                                    <p class="text-danger">@ViewBag.Error</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>