@model RiaPizza.Models.ShopSchedule
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section css{
    <link href="../../assets/css/form.min.css" rel="stylesheet">
}
<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="breadcrumb breadcrumb-style ">
                    <li class="breadcrumb-item">
                        <h4 class="page-title">Shop Schedule</h4>
                    </li>
                    <li class="breadcrumb-item bcrumb-1">
                        <a href="~/ShopSchedule/Index">
                            <i class="fas fa-home"></i> Home
                        </a>
                    </li>
                    <li class="breadcrumb-item bcrumb-2">
                        <a href="#" onClick="return false;">Shop Schedule</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="dateRange" style="display:block">
        <div class="row">
            <div class="col-md-12">
                <form method="post" action="~/ShopSchedule/AddOrUpdate">
                    <div class="row clearfix">
                        <div class="col-lg-5 col-sm-5">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="timepicker form-control" value="@Model.TimeFrom" name="TimeFrom" placeholder="Please choose a time from...">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-sm-5">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="timepicker form-control" value="@Model.TimeTo" name="TimeTo" placeholder="Please choose a time to...">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-12" style="text-align:center">
                            <div class="form-group">
                                <div class="form-line">
                                    <button class="btn btn-primary"  style="width: 119.5px;height: 49.75px;">Update Schedule!</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @*<div class="col-lg-3 col-sm-6">
        <form action="~/ShopSchedule/Create" method="post" target="_blank" id="scheduleForm" style="cursor:pointer">
            <div class="support-box text-center bg-teal">
                <div class="text font-17 m-b-5"></div>
                <div class="text font-17 m-b-5">Close/Open Shop</div>
                <div class="switch">
                    <label>
                        <input type="checkbox" name="schedule" @(ViewBag.isOpen ? "on" : "") id="shopId" onchange="$('#scheduleForm').submit()">
                        <span class="lever switch-col-white"></span>
                    </label>
                </div>
            </div>
        </form>
    </div>*@
</div>


@section scripts{
    <script src="~/assets/js/table.min.js"></script>
    <script src="~/assets/js/pages/tables/jquery-datatable.js"></script>
    <script src="~/assets/js/form.min.js"></script>
    <script src="~/assets/js/pages/forms/basic-form-elements.js"></script>

}