@model RiaPizza.Models.ShopSchedule
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section css{
    <link href="../../assets/css/form.min.css" rel="stylesheet">
}
@section Angular{

    <script src="~/Angular/Utility/Jsoncalls.js"></script>
    <script>
        App.controller("ScheduleCtrl", function ($scope, $http) {

            $scope.timeList = [
                { time: "12:00 AM", hour: 0 },
                { time: "12:15 AM", hour: 1 },
                { time: "12:30 AM", hour: 2 },
                { time: "12:45 AM", hour: 3 },
                { time: "01:00 AM", hour: 4 },
                { time: "01:15 AM", hour: 5 },
                { time: "01:30 AM", hour: 6 },
                { time: "01:45 AM", hour: 7 },
                { time: "02:00 AM", hour: 8 },
                { time: "02:15 AM", hour: 9 },
                { time: "02:30 AM", hour: 10 },
                { time: "02:45 AM", hour: 11 },
                { time: "03:00 AM", hour: 12 },
                { time: "03:15 AM", hour: 13 },
                { time: "03:30 AM", hour: 14 },
                { time: "03:45 AM", hour: 15 },
                { time: "04:00 AM", hour: 16 },
                { time: "04:15 AM", hour: 17 },
                { time: "04:30 AM", hour: 18 },
                { time: "04:45 AM", hour: 19 },
                { time: "05:00 AM", hour: 20 },
                { time: "05:15 AM", hour: 21 },
                { time: "05:30 AM", hour: 22 },
                { time: "05:45 AM", hour: 23 },
                { time: "06:00 AM", hour: 24 },
                { time: "06:15 AM", hour: 25 },
                { time: "06:30 AM", hour: 26 },
                { time: "06:45 AM", hour: 27 },
                { time: "07:00 AM", hour: 28 },
                { time: "07:15 AM", hour: 29 },
                { time: "07:30 AM", hour: 30 },
                { time: "07:45 AM", hour: 31 },
                { time: "08:00 AM", hour: 32 },
                { time: "08:15 AM", hour: 33 },
                { time: "08:30 AM", hour: 34 },
                { time: "08:45 AM", hour: 35 },
                { time: "09:00 AM", hour: 36 },
                { time: "09:15 AM", hour: 37 },
                { time: "09:30 AM", hour: 38 },
                { time: "09:45 AM", hour: 39 },
                { time: "10:00 AM", hour: 40 },
                { time: "10:15 AM", hour: 41 },
                { time: "10:30 AM", hour: 42 },
                { time: "10:45 AM", hour: 43 },
                { time: "11:00 AM", hour: 44 },
                { time: "11:15 AM", hour: 45 },
                { time: "11:24 AM", hour: 46 },
                { time: "11:26 AM", hour: 47 },
                { time: "12:00 PM", hour: 48 },
                { time: "12:15 PM", hour: 49 },
                { time: "12:30 PM", hour: 50 },
                { time: "12:45 PM", hour: 61 },
                { time: "01:00 PM", hour: 62 },
                { time: "01:18 PM", hour: 63 },
                { time: "01:19 PM", hour: 64 },
                { time: "01:45 PM", hour: 65 },
                { time: "02:00 PM", hour: 66 },
                { time: "02:15 PM", hour: 67 },
                { time: "02:30 PM", hour: 68 },
                { time: "02:45 PM", hour: 69 },
                { time: "03:00 PM", hour: 70 },
                { time: "03:15 PM", hour: 81 },
                { time: "03:30 PM", hour: 82 },
                { time: "03:45 PM", hour: 83 },
                { time: "04:00 PM", hour: 84 },
                { time: "04:15 PM", hour: 85 },
                { time: "04:40 PM", hour: 86 },
                { time: "04:45 PM", hour: 87 },
                { time: "05:00 PM", hour: 88 },
                { time: "05:15 PM", hour: 89 },
                { time: "05:30 PM", hour: 90 },
                { time: "05:45 PM", hour: 101 },
                { time: "06:00 PM", hour: 102 },
                { time: "06:15 PM", hour: 103 },
                { time: "06:30 PM", hour: 104 },
                { time: "06:45 PM", hour: 105 },
                { time: "07:00 PM", hour: 106 },
                { time: "07:20 PM", hour: 107 },
                { time: "07:30 PM", hour: 108 },
                { time: "07:45 PM", hour: 109 },
                { time: "08:00 PM", hour: 110 },
                { time: "08:15 PM", hour: 111 },
                { time: "08:30 PM", hour: 112 },
                { time: "08:45 PM", hour: 113 },
                { time: "09:00 PM", hour: 114 },
                { time: "09:15 PM", hour: 115 },
                { time: "09:30 PM", hour: 116 },
                { time: "09:45 PM", hour: 117 },
                { time: "10:00 PM", hour: 118 },
                { time: "10:15 PM", hour: 119 },
                { time: "10:30 PM", hour: 120 },
                { time: "10:45 PM", hour: 121 },
                { time: "11:00 PM", hour: 122 },
                { time: "11:15 PM", hour: 123 },
                { time: "11:30 PM", hour: 124 },
                { time: "11:45 PM", hour: 125 },
            ];

            $scope.getSchedule = function () {
                JsonCall("ShopSchedule", "GetSchedule");
                $scope.schedule = list;
                if (list.deliveryTimings.length === 0) {
                    $scope.schedule = {
                        isOpen: true,
                        deliveryTimings: [
                            { dayOfWeek: 1, day: "Monday", timeFrom: 0, timeTo: 0 },
                            { dayOfWeek: 2, day: "Tuesday", timeFrom: 0, timeTo: 0 },
                            { dayOfWeek: 3, day: "Wednesday", timeFrom: 0, timeTo: 0 },
                            { dayOfWeek: 4, day: "Thursday", timeFrom: 0, timeTo: 0 },
                            { dayOfWeek: 5, day: "Friday", timeFrom: 0, timeTo: 0 },
                            { dayOfWeek: 6, day: "Saturday", timeFrom: 0, timeTo: 0 },
                            { dayOfWeek: 0, day: "Sunday", timeFrom: 0, timeTo: 0 },
                        ]
                    };
                }
            }

            $scope.saveSchedule = function () {
                JsonCallParam("ShopSchedule", "AddOrUpdate", { 'shopSchedule': JSON.stringify($scope.schedule) });
                $scope.getSchedule();
                swal("Added", "Delivery Area Added!", "success");
            }
        });
    </script>
}

<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="breadcrumb breadcrumb-style ">
                    <li class="breadcrumb-item">
                        <h4 class="page-title">Shop Schedule</h4>
                    </li>
                    <li class="breadcrumb-item bcrumb-1">
                        <a href="~/ShopSchedule/Index">
                            <i class="fas fa-home"></i> Home
                        </a>
                    </li>
                    <li class="breadcrumb-item bcrumb-2">
                        <a href="#" onClick="return false;">Shop Schedule</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row clearfix" ng-controller="ScheduleCtrl">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        <strong>Shop Schedule</strong>
                    </h2>
                    <p class="pt-2">Note: Shop will be automatically open and close on the selected time</p>
                </div>
                <div class="body">
                    <form ng-submit="saveSchedule()" name="scheduleform" ng-init="getSchedule()">
                        <div class="row clearfix heading">
                            <div class="col-lg-2 col-sm-12">
                                <label class="font-bold">Day</label>
                            </div>
                            <div class="col-lg-5 col-sm-12">
                                <label class="font-bold">Shop opening time</label>
                            </div>
                            <div class="col-lg-5 col-sm-12">
                                <label class="font-bold">Shop closing time</label>
                            </div>
                        </div>
                        <div class="row clearfix border-top" ng-repeat="timing in schedule.deliveryTimings">
                            <div class="col-lg-2 col-sm-12 pt-3">
                                <div class="form-group mb-0">
                                    {{timing.day}}
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-12 pt-3">
                                <div class="form-group mb-0">
                                    <select class="form-control" ng-model="timing.timeFrom" required
                                            ng-class="{'border-danger': scheduleform.TimeFrom.$touched && scheduleform.TimeFrom.$error.required}"
                                            ng-options="time.hour as time.time for time in timeList">
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-12 pt-3">
                                <div class="form-group mb-0">
                                    <select class="form-control" ng-model="timing.timeTo" required
                                            ng-class="{'border-danger': scheduleform.timeTo.$touched && scheduleform.timeTo.$error.required}"
                                            ng-options="time.hour as time.time for time in timeList">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group text-right">
                            <button class="btn btn-primary float-right" style="width: 119.5px;height: 49.75px;">Update Schedule!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/assets/js/form.min.js"></script>
    <script src="~/assets/js/pages/forms/basic-form-elements.js"></script>
}