@model RiaPizza.Models.ShopSchedule
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section css{
    <link href="../../assets/css/form.min.css" rel="stylesheet">
}




<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="breadcrumb breadcrumb-style ">
                    <li class="breadcrumb-item">
                        <h4 class="page-title">Shop Schedule</h4>
                    </li>
                    <li class="breadcrumb-item bcrumb-1">
                        <a href="~/ShopSchedule/Index">
                            <i class="fas fa-home"></i> Home
                        </a>
                    </li>
                    <li class="breadcrumb-item bcrumb-2">
                        <a href="#" onClick="return false;">Shop Schedule</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        <strong>Shop Schedule</strong>
                    </h2>
                    <p class="pt-2">Note: Shop will be automatically open and close on the selected time</p>
                </div>
                <div class="body">
                    <form method="post" action="~/ShopSchedule/AddOrUpdate">
                        <div class="row clearfix">
                            <div class="col-lg-6 col-sm-5">
                                <div class="form-group">
                                    <label>Shop opening time</label>
                                    <div class="form-line">
                                        <input type="text" class="timepicker form-control" value="@Model.TimeFrom" name="TimeFrom" placeholder="Please choose a time from...">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-5">
                                <div class="form-group">
                                    <label>Shop Closing time</label>
                                    <div class="form-line">
                                        <input type="text" class="timepicker form-control" value="@Model.TimeTo" name="TimeTo" placeholder="Please choose a time to...">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12" style="text-align:center">
                                <div class="form-group">
                                    <button class="btn btn-primary float-right" style="width: 119.5px;height: 49.75px;">Update Schedule!</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/assets/js/table.min.js"></script>
    <script src="~/assets/js/pages/tables/jquery-datatable.js"></script>
    <script src="~/assets/js/form.min.js"></script>
    <script src="~/assets/js/pages/forms/basic-form-elements.js"></script>

}