.pointer {
    cursor: pointer;
}

.goog-te-banner-frame skiptranslate {
    display: none;
}

body {
    top: 0 !important;
}

.goog-te-banner-frame {
    display: none !important;
}

#goog-gt-tt, .goog-te-balloon-frame {
    display: none !important;
}

.goog-text-highlight {
    background: none !important;
    box-shadow: none !important;
}
