.pointer {
    cursor: pointer;
}

.goog-te-banner-frame skiptranslate {
    display: none;
}

body {
    top: 0 !important;
}

.goog-te-banner-frame {
    display: none !important;
}

#goog-gt-tt, .goog-te-balloon-frame {
    display: none !important;
}

.goog-text-highlight {
    background: none !important;
    box-shadow: none !important;
}

.order-head-mob {
    display: none;
}

@media only screen and (max-width: 992px) {
    .order-head {
        display: none;
    }

    .order-head-mob {
        display: initial;
        font-weight: bold;
    }

    .orders-list-modal {
        text-align: left !important;
    }
}

.modal-header {
    background: black !important;
}