@model RiaPizza.Models.DishCategory
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script src="~/Angular/Controllers/DishCategoriesCtrl.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>
<style>
    .centerBtn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        background-color: #555;
        color: white;
        font-size: 30px;
        padding: 12px 15px;
        border: none;
        cursor: pointer;
        border-radius: 50px;
        opacity: 0.6;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>
<div class="container-fluid" ng-controller="DishCategoriesCtrl">
    <div class="block-header">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="breadcrumb breadcrumb-style ">
                    <li class="breadcrumb-item">
                        <h4 class="page-title">Dish Categories</h4>
                    </li>
                    <li class="breadcrumb-item bcrumb-1">
                        <a href="~/Home/Index">
                            <i class="fas fa-home"></i> Home
                        </a>
                    </li>
                    <li class="breadcrumb-item bcrumb-2">
                        <a href="#" onClick="return false;">Dish Categories</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Basic Examples -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        <strong>Dish Categories</strong>
                        <button data-toggle="modal" data-target="#addModal" class="btn btn-info" style="float:right"> Add <i class="fa fa-plus"></i></button>
                    </h2>
                    <div class="modal fade" id="addModal" role="dialog"
                         aria-labelledby="formModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="formModal">Add Dish Category</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <label>Category Name <span class="text-danger">*</span></label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" class="form-control"
                                                       placeholder="Enter Dish Category Name" ng-model="addCategoryObj.categoryName">
                                            </div>
                                        </div>
                                        <label>Description</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" class="form-control"
                                                       placeholder="Enter Description" ng-model="addCategoryObj.description">
                                            </div>
                                        </div>
                                        <label>Order NO.</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" class="form-control"
                                                       placeholder="Order Number [{{allCategories[allCategories.length-1].orderBy + 1}}]" ng-model="addCategoryObj.orderBy" required>
                                            </div>
                                        </div>
                                        <label>Image <span class="text-danger">*</span></label>
                                        <div class="form-group">
                                            <input style="display:none" type="file" id="fileInput" oninput="showImage()">
                                            <div id="ImageTab" class="center">
                                            </div>
                                            <img style="width:40px;margin-left: 20px; margin-right:20px" id="selectImageBtn" class="icon-colored pointer" onclick="$('#fileInput').click()" src="~/assets/images/details_open.png" title="add_image.svg">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-info waves-effect" ng-click="addCategory()">Save</button>
                                    <button type="button" class="btn btn-danger waves-effect"
                                            data-dismiss="modal">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="editModal" role="dialog"
                         aria-labelledby="formModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="formModal">Edit Dish Category</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="Name">Name</label>
                                            <div class="form-line">
                                                <input type="text" class="form-control"
                                                       placeholder="Enter Dish Category Name" ng-model="editCategoryObj.categoryName">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Description">Description</label>
                                            <div class="form-line">
                                                <input type="text" class="form-control"
                                                       placeholder="Enter Description" ng-model="editCategoryObj.description">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="orderby">Order NO.</label>
                                            <div class="form-line">
                                                <input type="text" class="form-control"
                                                       placeholder="Order Number" ng-model="editCategoryObj.orderBy">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Image</label>
                                            <input class="center" style="display:none" type="file" id="fileInputEdit" oninput="showImageEdit()">
                                            <div id="ImageTabEdit" class="center"> </div>
                                            <img style="width:40px;margin-left: 20px; margin-right:20px" id="selectImageBtnEdit" class="icon-colored pointer center" onclick="$('#fileInputEdit').click()" src="~/assets/images/details_open.png" title="add_image.svg">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-info waves-effect" ng-click="editCategory()">Save</button>
                                    <button type="button" class="btn btn-danger waves-effect"
                                            data-dismiss="modal">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Dish Category</th>
                                    <th>Image</th>
                                    <th>Is Avalaible</th>
                                    <th>Status</th>
                                    <th>Order No#</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody ng-init="getAllCategories()">
                                <tr ng-repeat="cat in allCategories">
                                    <td>{{$index+1}}</td>
                                    <td>{{cat.categoryName}}</td>
                                    <td>
                                        <img style="width:80px" src="~/Uploads/{{cat.image}}" alt="" />
                                    </td>
                                    <td>
                                        <div ng-if="cat.isAvailable" class="badge col-green">available</div>
                                        <div ng-if="!cat.isAvailable" class="badge col-red">disable</div>
                                    </td>
                                    <td>
                                        <div ng-if="cat.status" class="badge col-green">active</div>
                                        <div ng-if="!cat.status" class="badge col-red">disabled</div>
                                    </td>
                                    <td>{{cat.orderBy}}</td>
                                    <td>
                                        <button class="btn tblActnBtn" ng-click="openEditModal(cat)"><i class="fas fa-pencil-alt"></i></button>
                                        <button class="btn tblActnBtn" ng-click="delDishCategory(cat.dishCategoryId)"><i class="fas fa-trash-alt"></i></button>
                                        <a class="btn tblActnBtn" href="~/DishCategories/ToggleDishCategories/{{cat.dishCategoryId}}"><i class="fas fa-toggle-on pt-2"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Dish Category</th>
                                    <th>Image</th>
                                    <th>Is Avalaible</th>
                                    <th>Status</th>
                                    <th>Order No#</th>
                                    <th>Actions</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/assets/js/table.min.js"></script>
    <script src="~/assets/js/pages/tables/jquery-datatable.js"></script>
    <script>
        function getOrderTableSortOrder() {
            return { SortOrder: [[0, "desc"]] };
        }

        window.RiaPizzaConfig = getOrderTableSortOrder();

        function showImage() {
            var file_data = $("#fileInput").prop("files")[0];
            $('#ImageTab').append('<img style="cursor:pointer" src="' + window.URL.createObjectURL(file_data) + '" alt="' + file_data.name + '" /> <i onclick="ClearFile()" class="fas fa-window-close centerBtn"></i>');
            $('#selectImageBtn').hide();
        }

        function ClearFile() {
            $('#fileInput').val('');
            $('#ImageTab').empty();
            $('#selectImageBtn').show();
        }

        function showImageEdit() {
            var file_data = $("#fileInputEdit").prop("files")[0];
            $('#ImageTabEdit').append('<img style="cursor:pointer" src="' + window.URL.createObjectURL(file_data) + '" alt="' + file_data.name + '" /> <i onclick="ClearFileEdit()" class="fas fa-window-close centerBtn"></i>');
            $('#selectImageBtnEdit').hide();
        }

        function ClearFileEdit() {
            $('#fileInputEdit').val('');
            $('#ImageTabEdit').empty();
            $('#selectImageBtnEdit').show();
        }

    </script>

}

