@*<aside id="leftsidebar" class="sidebar">
    <div class="menu">
        <ul class="list">
            <li class="sidebar-user-panel active">
                <div class="profile-usertitle">
                    <div class="sidebar-userpic-name"> Emily Smith </div>
                    <div class="profile-usertitle-job ">Manager </div>
                </div>
            </li>
            <li class="active">
                <a href="~/Home/Index">
                    <i class="fas fa-tachometer-alt"></i>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="~/DeliveryAreas/Index">
                    <i class="fas fa-map-marked-alt"></i>
                    <span>Delivery Areas</span>
                </a>
            </li>
            <li>
                <a href="~/DishCategories/Index">
                    <i class="fas fa-list-ul"></i>
                    <span>Dish Categories</span>
                </a>
            </li>
            <li>
                <a href="#" onClick="return false;" class="menu-toggle">
                    <i class="material-icons">local_pizza</i>
                    <span>Dishes</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="~/Dishes/Index">View Dishes</a>
                    </li>
                    <li>
                        <a href="~/Dishes/Add">Add Dish</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" onClick="return false;" class="menu-toggle">
                    <i class="fab fa-first-order"></i>
                    <span>Orders</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="~/Orders/Index">All Orders</a>
                    </li>
                    <li>
                        <a href="~/Orders/Search">Search Order</a>
                    </li>
                    <li>
                        <a href="~/Orders/OrdersInProgress">Orders In Progress</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="~/Auth/Register">
                    <i class="fas fa-map-marked-alt"></i>
                    <span>Add User</span>
                </a>
            </li>
            <li>
                <a href="~/Auth/Roles">
                    <i class="fas fa-map-marked-alt"></i>
                    <span>Add Role</span>
                </a>
            </li>
        </ul>
    </div>
</aside>*@