@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ria Pizza</title>
    <!-- BootStrap CSS -->
    <link rel="stylesheet" href="~/client-assets/res/bootstrap.css">

    <!-- BootStrap Icons -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,500,600,700,900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @*<script src="https://www.paypalobjects.com/api/checkout.js"></script>*@

    <!-- Custom CSS -->
    <link href="~/client-assets/res/sass/style.css" rel="stylesheet" type="text/css">
    <link href="~/client-assets/custom/preloader.css" rel="stylesheet" />
    <link href="~/client-assets/custom/layout.css" rel="stylesheet" />
    <!-- Custom CSS -->
    @RenderSection("css", required: false)

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--Angular Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <!--Angular Scripts-->

    <script>
        var App = angular.module('RiaPizza', ['ngSanitize', 'ngRoute']);
    </script>
    <script src="~/Angular/Controllers/AuthCtrl.js"></script>
    @RenderSection("Angular", required: false)
</head>

<body ng-app="RiaPizza">
    <div class="preloader-wrapper">
        <div class="preloader">
            <img src="~/assets/images/preloader.gif" alt="logo" />
        </div>
    </div>
    <!-- Navbar -->
    <nav class="navbar bg-transparent px-5 py-3 align-items-center" ng-controller="Auth" ng-init="loadUser()">
        <a href="/">
            <img src="~/assets/images/logo.png" alt="logo" class="img-fluid" style="max-height: 2.5rem;" />
        </a>
        <!-- Language dropdown -->
        <div class="nav-wrapper d-md-block d-none ml-auto mr-4 mt-2">
            <div class="sl-nav bg-white p-1 rounded-circle">
                <ul>
                    <li style="width:17px;">
                        <i class="sl-flag flag-usa" aria-hidden="true"></i>
                        <div class="triangle"></div>
                        <ul class="translation-links">
                            <li>
                                <i class="sl-flag flag-usa">
                                    <div id="germany"></div>
                                </i>
                                <a href="#" data-lang="English" class="english">
                                    <span class="active">English</span>
                                </a>
                            </li>
                            <li>
                                <i class="sl-flag flag-de">
                                    <div id="germany"></div>
                                </i>
                                <a href="#" data-lang="German" class="german">
                                    <span>Deutsch</span>
                                </a>
                            </li>

                        </ul>

                    </li>
                </ul>
                <div id="google_translate_element" style="display:none;">

                </div>

            </div>
        </div>
        <!-- Language dropdown ends -->
        <!-- Navbar Modal Toggler -->
        <button type="button" href="#myModal" role="button" class="nav-btn" data-toggle="modal">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </button>
        <!-- Navbar Modal Toggler ends -->
        <!-- Navbar Modal -->
        <div id="myModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered mx-auto my-modal">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:black;">
                        <div class="container">
                            <div class="row mt-4">
                                <div class="col-3">
                                    @*<img  alt="profile" class="w-75">*@
                                </div>
                                <div class="ml-n5 col-9">
                                    <h3 class="modal-title text-white font-weight-bold" id="myModalLabel">
                                        <span ng-if="isLoggedIn">{{user.firstName}} {{user.lastName}}</span>
                                        <span ng-if="!isLoggedIn">Mein Konto</span>
                                    </h3>
                                    <a ng-if="isLoggedIn" href="~/MyAccount/PersonalData" class="text-white pointer">View personal data</a>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i style="color: white" class="fas fa-times-circle"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row mb-5" ng-if="!isLoggedIn">
                            <!-- Login Modal Toggler -->
                            <div class="col-6">
                                <button type="button" href="#loginModal" class="btn btn-block btn-outline login-btn"
                                        role="button" data-toggle="modal">
                                    Anmeldung
                                </button>
                            </div>
                            <!-- Login Modal Toggler ends -->
                            <!-- Registration Modal Toggler -->
                            <div class="col-6">
                                <button type="button" href="#signModal" class="btn btn-block btn-primary create-btn"
                                        role="button" data-toggle="modal">
                                    Erstellen
                                    Konto
                                </button>
                            </div>
                            <!-- Registration Modal Toggler -->
                        </div>
                        <div class="row pt-4 pl-4 pr-4">
                            <div class="col-12 border-bottom bg-white py-3 px-4">
                                <a type="button" href="#orderModal" ng-click="loadOrders()" class="link" data-toggle="modal" role="button">
                                    <i class="fas fa-shopping-bag mr-3"></i> Aufträge
                                </a>
                            </div>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="col-12 bg-white py-3 px-4 border-bottom">
                                    <a href="~/MyAccount/PersonalData" class="link">
                                        <i class="fas fa-address-card mr-3"></i> Profil
                                    </a>
                                </div>
                            }
                            <div class="col-12 bg-white py-3 px-4 border-bottom">
                                <a class="link" type="button" href="#infoModal" ng-click="getDeliveryTiming()" data-toggle="modal" role="button">
                                    <i class="mr-3">
                                        <li class="d-inline-block">
                                            <i class="fas fa-info-circle fa-md info align-self-center" style="background-color: white"></i>
                                        </li>
                                    </i>
                                    Über das Restaurant
                                </a>
                            </div>
                            <div class="col-12 bg-white py-3 px-4 border-bottom">
                                <a href="https://g.page/ria-pizza?share" class="link">
                                    <i class="fas fa-subway mr-3"></i> Google Directions
                                </a>
                            </div>
                        </div>
                        <div class="row pt-4 pl-4 pr-4" ng-if="isLoggedIn">
                            <div class="col-12 border-bottom bg-white py-3 px-4">
                                <a ng-click="logout()" role="button" class="pointer">
                                    <i class="fas fa-home mr-3"></i> Ausloggen
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Navbar Modal ends -->
        <!-- Login Modal -->
        <div id="loginModal" class="modal modal-child" data-backdrop-limit="1" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true" data-modal-parent="#myModal">
            <div class="modal-dialog modal-dialog-centered mx-auto my-modal">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="modal-title">Anmelden</h4>
                            </div>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i style="color: white" class="fas fa-times-circle"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <form name="loginForm" ng-submit="login()">
                                    <!--<a href="#" class="btn btn-block login-btn p-3 mb-5">Login with FaceBook</a>-->
                                    <!--<p class="or mb-4">or</p>-->
                                    <div class="form-group mb-5">
                                        <label for="email">E-Mail-Addresse</label>
                                        <input ng-model="loginUser.username" type="text" class="form-control" required>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="password">Passwort</label>
                                        <input ng-model="loginUser.password" type="password" class="form-control mb-3" required>
                                        <a href="#" class="pass-link text-right mt-3">Passwort vergessen?</a>
                                    </div>
                                    <p ng-if="loginUnsuccessful" class="text-danger">E-Mail und Passwort stimmten nicht überein</p>
                                    <button type="submit" class="btn btn-block login-btn2 p-3 mb-3">Anmeldung</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <a role="button" onclick="toggleRegister()" class="pass-link text-center mb-2 pointer">Konto erstellen</a>

                </div>
            </div>
        </div>
        <!-- Login Modal ends -->
        <!-- Signup Modal -->
        <div id="signModal" class="modal modal-child" data-backdrop-limit="1" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true" data-modal-parent="#myModal">
            <div class="modal-dialog modal-dialog-centered mx-auto my-modal">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="modal-title">Registrieren</h4>
                            </div>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i style="color: white" class="fas fa-times-circle"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <form name="registerForm" ng-submit="register()" novalidate>
                                    <!--<a href="#" class="btn btn-block login-btn p-3 mb-5">Login with FaceBook</a>
                                    <p class="or mb-4">or</p>-->
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group mb-5">
                                                <label for="name">Vorname</label>
                                                <input ng-model="registerUser.firstName" name="firstName" type="text" class="form-control mb-3" required>
                                                <p class="text-danger mb-0 pb-0" ng-show="registerForm.firstName.$touched && registerForm.firstName.$error.required">* Vorname ist erforderlich.</p>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group mb-5">
                                                <label for="name">Nachname</label>
                                                <input ng-model="registerUser.lastName" name="lastName" type="text" class="form-control mb-3" required>
                                                <p class="text-danger mb-0 pb-0" ng-show="registerForm.lastName.$touched && registerForm.lastName.$error.required">* Nachname ist erforderlich.</p>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group mb-5">
                                                <label for="email">E-Mail-Addresse</label>
                                                <input ng-model="registerUser.email" name="email" type="email" class="form-control mb-3" required>
                                                <p class="text-danger mb-0 pb-1" ng-show="registerForm.email.$touched && registerForm.email.$error.required">* E-Mail ist erforderlich.</p>
                                                <p class="text-danger mb-0 pb-0" ng-show="registerForm.email.$touched && registerForm.email.$invalid">* E-Mail ist ungültig</p>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group mb-5">
                                                <label for="password">Passwort</label>
                                                <input ng-model="registerUser.password" name="password" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="form-control mb-3" required>
                                                <p class="text-danger mb-0 pb-1" ng-show="registerForm.password.$touched && registerForm.password.$error.required">* Passwort wird benötigt.</p>
                                                <p class="text-danger mb-0 pb-0" ng-show="registerForm.password.$touched && registerForm.password.$invalid">* Das Passwort muss mindestens eine Zahl und einen Groß- und Kleinbuchstaben sowie mindestens 8 oder mehr Zeichen enthalten.</p>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group mb-3">
                                                <label for="password">Kennwort erneut eingeben</label>
                                                <input ng-model="registerUser.confirmPassword" dirname="confirmPassword" type="password" class="form-control mb-3" name="confirmPassword" required>
                                                <p class="text-danger mb-0 pb-1" ng-show="registerForm.confirmPassword.$touched && registerForm.confirmPassword.$error.required">* Bestätigung ist erforderlich.</p>
                                                <p class="text-danger mb-0 pb-0" ng-if="registerForm.confirmPassword.$touched && registerUser.password !== registerUser.confirmPassword">* Passwort und Passwort bestätigen stimmten nicht überein</p>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group" ng-if="usernameExists">
                                                <p class="text-danger">E-Mail bereits registriert, melden Sie sich bitte mit registrierter E-Mail an oder versuchen Sie es mit einer anderen E-Mail!</p>
                                            </div>
                                            <button ng-disabled="registerForm.$invalid || registerUser.password !== registerUser.confirmPassword" type="submit" href="#" class="btn btn-block login-btn2 p-3">Registrieren</button>
                                        </div>
                                    </div>
                                    <p class="caption mb-2">
                                        Durch Klicken auf Senden akzeptieren Sie die <a href="#">Nutzungsbedingungen</a>
                                        and the <a href="#">Nutzungsbedingungen des Loyalty Shops</a>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                    <a role="button" onclick="toggleLogin()" class="pass-link text-center mb-3 pointer">Ich habe einen Account</a>
                </div>
            </div>
        </div>
        <!-- Signup Modal ends -->
        <!-- order Modal -->
        <div id="orderModal" class="modal modal-child" data-backdrop-limit="1" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true" data-modal-parent="#myModal">
            <div class="modal-dialog modal-dialog-centered mx-auto my-modal">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="modal-title text-center">Aufträge</h4>
                            </div>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i style="color: white" class="fas fa-times-circle"></i>
                        </button>
                    </div>
                    <div class="modal-body align-items-center" style="overflow:scroll">
                        <div class="row mt-5" ng-if="userOrders.length < 1">
                            <div class="col-12 text-center">
                                <div class="userpanel-favorites js-userpanel-favorites">
                                </div>
                                <i class="fas fa-shopping-bag fa-3x my-4"></i>
                                <h4 class="my-4">Noch keine Bestellungen</h4>
                                <p class="my-4" style="color: #7d7d7d;">Sie haben keine Bestellhistorie verfügbar</p>
                                <button type="submit" href="#" class="btn d-block login-btn2 mx-auto">Senden</button>
                            </div>
                        </div>
                        <div ng-if="userOrders.length > 0">
                            <div class="row text-center font-weight-bold mb-4 mt-1 order-head">
                                <div class="col-2">
                                    Code
                                </div>
                                <div class="col-2">
                                    Info bezahlen
                                </div>
                                <div class="col-2">
                                    Status
                                </div>
                                <div class="col-6" style="text-align:left !important">
                                    <div class="row">
                                        <div class="col-2">
                                            Qty
                                        </div>
                                        <div class="col-10">
                                            Geschirr
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-center border-bottom pt-3 orders-list-modal" style="font-size:15px" ng-repeat="order in userOrders">
                                <div class="col-md-2 col-xs-12">
                                    <span class="order-head-mob">Code:</span>  {{order.orderCode}}
                                </div>
                                <div class="col-md-2 col-xs-12">
                                    <span class="order-head-mob">Total Bill:</span>
                                    {{order.totalBill}}
                                    <span ng-if="order.isPaymentConfirmed" class="badge badge-success">Bezahlt</span>
                                    <span ng-if="!order.isPaymentConfirmed" class="badge badge-danger">steht aus</span>
                                </div>
                                <div class="col-md-2 col-xs-12">
                                    <span class="order-head-mob">Status:</span>
                                    <span class="badge badge-success">{{order.orderStatus}}</span>
                                </div>
                                <div class="col-md-6 col-xs-12 text-md-left">
                                    <div class="row" ng-repeat="item in order.orderItems">
                                        <div class="col-md-2 col-xs-12">
                                            <span class="order-head-mob">Menge:</span>
                                            {{item.quantity}}x
                                        </div>
                                        <div class="col-md-10 col-xs-12">
                                            <span class="order-head-mob">Geschirr:</span>
                                            <h4 style="font-size:18px">{{item.dish.dishName}}</h4>
                                            <p class="pl-0 mb-0">{{item.extras}}</p>
                                            <p class="pl-0" ng-if="item.remarks"> <strong>Bemerkungen:</strong> {{item.remarks}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- order Modal ends -->
    </nav>
    <!-- Navbar ends -->
    <button onclick="topFunction()" id="myBtn" title="Go to top" style="z-index: 99999;padding-top: 8px;padding-bottom: 8px;">
        <i class="fas fa-angle-up fa-2x"></i>
    </button>

    @RenderBody()

    <!-- Footer -->
    <footer class="footer pt-0 pl-4 pr-4" style="z-index: 567; position: absolute; left: 0; right: 0; background-color: black">
        <div class="container-fluid pt-4" style="padding-top: 0px;">
            <div class="row justify-content-center align-items-center">
                <ul style="list-style: none; text-align: center;margin-bottom: 0px;;padding-left: 0px;">
                    <li class="d-md-inline-block d-block mb-4" style="margin-right: 20px; font-size: 13px; font-weight: 400; color: #fff; padding: 0px">
                        <a href="#" style="color: #fff;">Terms of use</a>
                    </li>
                    <li class="d-md-inline-block d-block mb-4" style="margin-right: 20px; font-size: 13px; font-weight: 400; color: #fff; padding: 0px">
                        <a href="#" style="color: #fff;">Privacy statement</a>
                    </li>
                </ul>
            </div>
            <p style="font-size: 13px; font-weight: 400; color: #fff; padding: 0px" class="text-center mt-1">&copy; Digicon Valley 2020</p>
        </div>
    </footer>
    <!-- Footer Ends -->
    <!--Scripts-->
    <script src="~/client-assets/res/bootstrap.bundle.js" type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/2def6b71ee.js" crossorigin="anonymous" type="text/javascript"></script>
    <script src="~/client-assets/res/js/index.js" type="text/javascript"></script>
    <!--Scripts-->
    <!--Google Translator Start-->
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'de', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');

            window.setInterval(function () {
                var lang = $(".goog-te-menu-value span:first").text();
                //   alert(lang);
            }, 5000);
        }
    </script>
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script src="~/client-assets/custom/translator.js"></script>
    <!--Google Translator End-->

    <script type="text/javascript">
        $(document).ready(function ($) {
            $('.preloader-wrapper').fadeOut();
        });
    </script>

    @RenderSection("scripts", required: false)
</body>

</html>