@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@using RiaPizza.Data.ApplicationUser

@inject UserManager<AppUser> UserManager
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from www.radixtouch.in/templates/admin/lorax/source/light/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 09 Jan 2020 16:17:28 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>RiaPizza - Admin Panel</title>
    <!-- Favicon-->
    <link rel="icon" href="~/assets/images/favicon.ico" type="image/x-icon">
    <link href="~/assets/css/app.min.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/css/styles/all-themes.css" rel="stylesheet" />



    <!--Angular Scripts-->
    <script src="~/lib/angular.js/angular.min.js"></script>
    <script src="~/lib/angular-file-upload/ng-file-upload.js"></script>
    <!--Angular Scripts-->

    <script>
        var App = angular.module('RiaPizza', ['ngFileUpload']);
    </script>
    @RenderSection("css", required: false)
</head>
<body class="light" ng-app="RiaPizza">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30">
                @*<img class="loading-img-spin" src="~/assets/images/logo.png" width="20" height="20" alt="admin">*@
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" onClick="return false;" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
                   aria-expanded="false"></a>
                <a href="#" onClick="return false;" class="bars"></a>
                <a class="navbar-brand" href="~/Dashboard/Index">
                    @*<img style="width:70%" src="~/Uploads/@ViewBag.ShopLogo" alt="" />*@
                    <img style="width:70%" src="~/Uploads/fa044b59-79f3-4804-a24f-b2db2501e6c6_logo.png" alt="" />
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="pull-left">
                    <li>
                        <a href="#" onClick="return false;" class="sidemenu-collapse">
                            <i class="material-icons">reorder</i>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!-- Full Screen Button -->
                    <li class="fullscreen">
                        <a href="javascript:;" class="fullscreen-btn">
                            <i class="fas fa-expand"></i>
                        </a>
                    </li>
                    <!-- #END# Notifications-->
                    <li class="dropdown user_profile">
                        <a href="#" onClick="return false;" class="dropdown-toggle" style="padding: 10px 11px;" data-toggle="dropdown" role="button">
                            <i class="fa fa-user"></i>
                        </a>
                        <ul class="dropdown-menu pullDown">
                            <li class="body">
                                <ul class="user_dw_menu">
                                    <li>
                                        <a href="~/Auth/ChangePassword">
                                            <i class="material-icons">help</i>Change Password
                                        </a>
                                    </li>
                                    <li>
                                        <a href="~/Auth/Logout">
                                            <i class="material-icons">power_settings_new</i>Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- #END# Tasks -->
                    <li class="pull-right">
                        <a href="#" onClick="return false;" class="js-right-sidebar" data-close="true">
                            <i class="fas fa-cog"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <div>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="sidebar-user-panel active">
                        @*<div class="user-panel">
                                <div class=" image">
                                    <img src="~/assets/images/usrbig.jpg" class="img-circle user-img-circle" alt="User Image" />
                                </div>
                            </div>*@
                        <div class="profile-usertitle mt-3">
                            <div class="sidebar-userpic-name"> @User.Identity.Name </div>
                            <div class="profile-usertitle-job ">
                                @if (User.IsInRole("Manager"))
                                {
                                    <span>Manager</span>
                                }
                                else if (User.IsInRole("Admin"))
                                {
                                    <span>Admin</span>
                                }
                                else if (User.IsInRole("Rider"))
                                {
                                    <span>Rider</span>
                                }
                            </div>
                        </div>
                    </li>
                    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                    {
                        <li class="active">
                            <a href="~/Dashboard/Index">
                                <i class="fas fa-tachometer-alt"></i>
                                <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="~/DeliveryAreas/Index">
                                <i class="fas fa-map-marked-alt"></i>
                                <span>Delivery Areas</span>
                            </a>
                        </li>
                        <li>
                            <a href="~/ShopSchedule/Index">
                                <i class="material-icons">schedule</i>
                                <span>Shop Schedule</span>
                            </a>
                        </li>
                        <li>
                            <a href="~/DishCategories/Index">
                                <i class="fas fa-list-ul"></i>
                                <span>Dish Categories</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" onClick="return false;" class="menu-toggle">
                                <i class="material-icons">local_pizza</i>
                                <span>Dishes</span>
                            </a>
                            <ul class="ml-menu">
                                <li>
                                    <a href="~/Dishes/Index">View Dishes</a>
                                </li>
                                <li>
                                    <a href="~/Dishes/Add">Add Dish</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" onClick="return false;" class="menu-toggle">
                                <i class="fab fa-first-order"></i>
                                <span>Orders</span>
                            </a>
                            <ul class="ml-menu">
                                <li>
                                    <a href="~/Orders/Index">All Orders</a>
                                </li>
                                <li>
                                    <a href="~/Orders/OrdersInProgress">Orders In Progress</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="~/Orders/Reports">
                                <i class="fas fa-print"></i>
                                <span>Reports</span>
                            </a>
                        </li>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li>
                            <a href="#" onClick="return false;" class="menu-toggle">
                                <i class="fas fa-user"></i>
                                <span>Users</span>
                            </a>
                            <ul class="ml-menu">
                                <li>
                                    <a href="~/Auth/Register">Add User</a>
                                </li>
                                <li>
                                    <a href="~/Auth/Roles">Add Role</a>
                                </li>
                                <li>
                                    <a href="~/Auth/AllUsers">All Users</a>
                                </li>
                            </ul>
                        </li>
                    }
                    <li>
                        <a href="#" onClick="return false;" class="menu-toggle">
                            <i class="fab fa-first-order"></i>
                            <span>Delivery Timing</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="~/DeliveryTiming/Index">All DeliveryTiming </a>
                            </li>
                            <li>
                                <a href="~/DeliveryTiming/Create">Add</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" onClick="return false;" class="menu-toggle">
                            <i class="fab fa-first-order"></i>
                            <span>Coupons</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="~/Coupons/Index">All Coupons </a>
                            </li>
                            <li>
                                <a href="~/Coupons/Create">Add</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- #Menu -->
        </aside>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
        <aside id="rightsidebar" class="right-sidebar">
            <ul class="nav nav-tabs tab-nav-right" role="tablist">
                <li role="presentation">
                    <a href="#skins" data-toggle="tab" class="active">SKINS</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane in active in active stretchLeft" id="skins">
                    <div class="demo-skin">
                        <div class="rightSetting">
                            <p>SIDEBAR MENU COLORS</p>
                            <button type="button" class="btn btn-sidebar-light btn-border-radius p-l-20 p-r-20">Light</button>
                            <button type="button" class="btn btn-sidebar-dark btn-default btn-border-radius p-l-20 p-r-20">Dark</button>
                        </div>
                        <div class="rightSetting">
                            <p>THEME COLORS</p>
                            <button type="button" class="btn btn-theme-light btn-border-radius p-l-20 p-r-20">Light</button>
                            <button type="button" class="btn btn-theme-dark btn-default btn-border-radius p-l-20 p-r-20">Dark</button>
                        </div>
                        <div class="rightSetting">
                            <p>SKINS</p>
                            <ul class="demo-choose-skin choose-theme list-unstyled">
                                <li data-theme="black" class="actived">
                                    <div class="black-theme"></div>
                                </li>
                                <li data-theme="white">
                                    <div class="white-theme white-theme-border"></div>
                                </li>
                                <li data-theme="purple">
                                    <div class="purple-theme"></div>
                                </li>
                                <li data-theme="blue">
                                    <div class="blue-theme"></div>
                                </li>
                                <li data-theme="cyan">
                                    <div class="cyan-theme"></div>
                                </li>
                                <li data-theme="green">
                                    <div class="green-theme"></div>
                                </li>
                                <li data-theme="orange">
                                    <div class="orange-theme"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <!-- #END# Right Sidebar -->
    </div>
    <section class="content">
        @RenderBody()
    </section>
    <script src="~/assets/js/app.min.js"></script>
    <script src="~/assets/js/admin.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>